.logo_back{
    width: inherit;
    position: relative;
    top: 28%;
}

.bordureCarrousel{
    width: 250px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

/* styles.css */

.email {
    color: #007bff; /* Couleur bleue pour l'email */
    font-weight: bold;
}

.date {
    color: #6c757d; /* Couleur grise pour la date */
}

.message {
    color: #28a745; /* Couleur verte pour le message */
    font-style: italic;
}
