html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(169, 221, 241);
}

.widget{
    background-color: skyblue;
    height: 100%;
}

.logo{
    width: 10%;
}

.element{
    position: absolute;
    top: 0;   
    right: 0;
    padding: 2%;
    height: 100%;
}

.nav{
    height: 100%;
}

.nav li{
    border: 3px solid #000;
    border-radius: 2px 2px 15px 15px;
    font-size: 17px;
    font-weight: bold;
    padding: 3%;
    list-style: none;
}

.nav li:hover{
    background-color: rgb(169, 221, 241);
    cursor: pointer;
}

.nav li:active{
    background-color: rgb(169, 221, 241);
}

.home{
    position: relative;
    top: 18rem;
}

.form-connexion{
    width: 80%;
    padding: 4% 0 4% 15%;
}

.line-separator{
    border-left: 1px solid black;
    position: relative;
    min-height: 36rem;
    bottom: 10rem;
    padding: 0;
    margin: 0;
}

.user-plus{
  
    margin: 3% 3%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.add-user{
    display: none;
}

.displayCategorie{
    display: none;
}

.move{
    position: relative;
    width: 100%;
}

.move input{
    width: 79%;
}

.left-4{
    position: relative;
    left: -4%;
}

.add-user-form{
    display: none;
    background: white;
    padding: 5% 4% 4% 9%;
    border-radius: 15px 0 15px 15px;
    width: max-content;
    position: relative;
    bottom: 36%;
    left: 22%;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    width: 5%;
    cursor: pointer;
}

.Goverflow{
    height: 80%;
    overflow-y: scroll;
}

.w-10{
    width: 10%;
}
