{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="row nav">
        <div class="col-3 pt-5 widget">
            <a href="/"><img class="logo position-absolute top-0 left-0" src={{asset('img/logo.png')}} alt="logo"></a>
            <ul class="mt-5">
                <li class="mb-1 active" id="general">Général</li>
                <li class="mb-1" id="categorie">Catégories</li>
                <li class="mb-1" id="produits">Produits</li>
                <li class="mb-1" id="marques">Marques</li>
                <li class="mb-1" id="materiaux">Materiaux</li>
            </ul>
        </div>
    </div>

    <div class="col-9 element" id="content">
        <!-- Contenu qui sera remplacé dynamiquement -->
    </div>

    <div class="add-user-form" id="add-user-form">
        <img src={{asset('img/close.png')}} alt="close" class="close" id="close">
        {% include 'forms/formClient.html.twig' %}
    </div>

    <script>

        var categorie = document.getElementById('categorie');
        var general = document.getElementById('general');
        var produits = document.getElementById('produits');
        var marques = document.getElementById('marques');
        var materiaux = document.getElementById('materiaux');

        
        categorie.addEventListener('click', function() {
            general.style.background = 'skyblue';
            categorie.style.background = 'rgb(169, 221, 241)';
            produits.style.background = 'skyblue';
            marques.style.background = 'skyblue';
            materiaux.style.background = 'skyblue';
            loadContent('categorie');
        });

        
        general.addEventListener('click', function() {
            general.style.background = 'rgb(169, 221, 241)';
            categorie.style.background = 'skyblue';
            produits.style.background = 'skyblue';
             marques.style.background = 'skyblue';
            materiaux.style.background = 'skyblue';
            loadContent('liste');
        });

        
        produits.addEventListener('click', function() {
            general.style.background = 'skyblue';
            categorie.style.background = 'skyblue';
            produits.style.background = 'rgb(169, 221, 241)';
             marques.style.background = 'skyblue';
            materiaux.style.background = 'skyblue';
            loadContent('produit');
        });

        
        marques.addEventListener('click', function() {
            general.style.background = 'skyblue';
            categorie.style.background = 'skyblue';
            produits.style.background = 'skyblue';
            marques.style.background = 'rgb(169, 221, 241)';
            materiaux.style.background = 'skyblue';
            loadContent('marque');
        });

        
        materiaux.addEventListener('click', function() {
            general.style.background = 'skyblue';
            categorie.style.background = 'skyblue';
            produits.style.background = 'skyblue';
             marques.style.background = 'skyblue';
            materiaux.style.background = 'rgb(169, 221, 241)';
            loadContent('materiel');
        });


         window.onload = function() {
            // Charge le contenu "Général" par défaut
            general.style.background = 'rgb(169, 221, 241)';
            categorie.style.background = 'skyblue';
            produits.style.background = 'skyblue';
            loadContent('liste');
        };

        // Ajoutez des gestionnaires d'événements similaires pour les autres liens

        function loadContent(url) {
            fetch(url)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('content').innerHTML = html;
                });
        }

        let close = document.getElementById("close");
        let add = document.getElementById("add-user-form");
        addButton.addEventListener('click', () => {
            console.log('test');
            add.style.display = 'block';
        });

        close.addEventListener('click', () => {
            console.log('test');
            add.style.display = 'none';
        });
        
</script>
{% endblock %}