
<h1 class="text-center mb-5">Liste Marques</h1>
{% include 'partials/table.html.twig' with {'headers': tableHedears, 'rows': marques} %}
<div class="user-plus" id="user-plus">
    <button class='btn btn-primary' id="add">Ajouter une Marque +</button>
</div>


<script>

</script>
