{% extends 'base.html.twig' %}

{% block body %}

    <div class="row nav">

        <div class="col-3 pt-5 widget">
            <a href="/"><img class="logo position-absolute top-0 left-0" src={{asset('img/logo.png')}} alt="logo"></a>
            <ul class="mt-3">
                <li class="mb-1 active">Général</li>
                <li class="mb-1" id="categorie">Catégories</li>
                <li class="mb-1">Produits</li>
            </ul>
        </div>
        <div class="col-9 element content">

        
        {% block content %}
            {% include "user.html.twig" %}
        {% endblock %}
  
            
            <div class="displayCategorie" id="displayCategorie" >
                <h1 class="text-center mb-5 left-4">Catégories</h1>
                {% include "categorie.html.twig" %}
            </div>
        </div> 
    </div>
    <script>
        let table = document.getElementById('table-user');
        let add = document.getElementById('add-user');
        let plus = document.getElementById('user-plus');
        let displayCategorie = document.getElementById('displayCategorie');
        let categorie = document.getElementById('categorie');

        plus.addEventListener('click', ()=>{
            table.style.display = 'none';
            add.style.display = 'block';
        })

        categorie.addEventListener('click', ()=>{
            table.style.display = 'none';
            add.style.display = 'none';
            plus.style.display = 'none';
            displayCategorie.style.display = 'block';
        })
    </script>
{% endblock %}

