<h1 class="text-center mb-5">Liste Clients</h1>
{% include 'partials/table.html.twig' with {'headers': tableHedears, 'rows': users} %}
<div class="user-plus" id="user-plus">
    <a class="btn btn-primary" id="add" href="{{ path('app_form_client') }}">Ajouter Utilisateur +</a>
</div>

<script>
    let close = document.getElementById("close");
    let add = document.getElementById("add-user-form");
    let addButton = document.getElementById("add");

    addButton.addEventListener('click', () => {
        console.log('test');
        add.style.display = 'block';
    });

    close.addEventListener('click', () => {
        console.log('test');
        add.style.display = 'none';
    });

    function toggleAllCheckboxes() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = document.getElementById('all').checked;
        });
    }

    function toggleTri(column){
        console.log('toggleTri:',column);
    }

    function displayAddFormClient(){
        window.location.href = "/addClient";S
    }
</script>
